# Git
.git
.gitignore

# Documentation
README.md
*.md

# Tests
*test*.py
tests/
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache

# Frontend development
frontend/node_modules
frontend/build
frontend/coverage
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend development
backend/.env
backend/.env.*
backend/__pycache__
backend/**/__pycache__
backend/.pytest_cache
backend/coverage.xml
backend/.coverage

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore
